Statistic analysis
===
Corelation:
- gender questions with each other
- male-female per question
- reality and opinion

Testpower?

In [1]:
#Library
import pandas as pd
import numpy as np
from scipy.stats import pearsonr, spearmanr, kendalltau
import matplotlib.pyplot as plt
import seaborn as sns

load data

In [3]:
dfWVS = pd.read_csv('your_data.csv')
dfWVS

,Unnamed: 0,wave,wave_years,country,respondent_number,year,sex,age,ethnic,status,top_earner,town_size,job,politician,university,women_movement,abortion,divorce,income_equality,choice_control
0,20771,WVS7,2017-2022,China,1.567200e+08,2018,Female,38.0,CN: Chinese,Married,No,100-500000,2,2,4,3,1,2,4,5
1,20772,WVS7,2017-2022,China,1.567200e+08,2018,Female,52.0,CN: Chinese,Married,No,100-500000,2,2,4,3,1,1,1,10
2,20773,WVS7,2017-2022,China,1.567200e+08,2018,Female,69.0,CN: Chinese,Widowed,No,100-500000,2,2,4,3,1,5,10,10
3,20774,WVS7,2017-2022,China,1.567200e+08,2018,Male,48.0,CN: Chinese,Married,No,100-500000,3,4,4,3,1,5,7,8
4,20775,WVS7,2017-2022,China,1.567200e+08,2018,Male,70.0,CN: Chinese,Married,No,100-500000,4,2,4,3,1,10,5,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28371,403127,WVS6,2010-2014,Turkey,7.920622e+09,2011,Female,27.0,NaN,Single/Never married,No,NaN,2,2,4,3,1,1,5,7
28372,403128,WVS6,2010-2014,Turkey,7.920622e+09,2011,Male,18.0,NaN,Single/Never married,NaN,NaN,4,2,4,3,1,1,5,3
28373,403129,WVS6,2010-2014,Turkey,7.920622e+09,2011,Male,30.0,NaN,Married,Yes,NaN,4,4,4,3,5,7,10,8
28374,403130,WVS6,2010-2014,Turkey,7.920622e+09,2011,Male,22.0,NaN,Single/Never married,Yes,NaN,4,4,4,3,3,10,3,5
28375,403131,WVS6,2010-2014,Turkey,7.920622e+09,2011,Female,35.0,NaN,Married,Yes,NaN,4,5,5,3,1,5,6,7

In [4]:
dfHDR = pd.read_csv("..//data//HDR21-22_Composite_indices_complete_time_series.csv")
dfHDR

,iso3,country,hdicode,region,hdi_rank_2021,hdi_1990,hdi_1991,hdi_1992,hdi_1993,hdi_1994,...,mf_2012,mf_2013,mf_2014,mf_2015,mf_2016,mf_2017,mf_2018,mf_2019,mf_2020,mf_2021
0,AFG,Afghanistan,Low,SA,180.0,0.273,0.279,0.287,0.297,0.292,...,1.860000,1.880000,1.660000,1.620000,1.660000,1.410000,1.320000,1.380000,1.380000,1.380000
1,AGO,Angola,Medium,SSA,148.0,NaN,NaN,NaN,NaN,NaN,...,4.090000,4.530000,3.970000,3.590000,2.790000,2.640000,2.280000,2.180000,2.180000,2.180000
2,ALB,Albania,High,ECA,67.0,0.647,0.629,0.614,0.617,0.624,...,12.440000,11.490000,13.140000,12.610000,14.390000,14.460000,12.850000,12.960000,12.960000,12.960000
3,AND,Andorra,Very High,NaN,40.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ARE,United Arab Emirates,Very High,AS,26.0,0.728,0.739,0.742,0.748,0.755,...,49.560000,49.680000,55.490000,59.760000,64.950000,75.610000,65.970000,68.950000,68.950000,68.950000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201,ZZG.ECA,Europe and Central Asia,NaN,NaN,NaN,0.664,0.661,0.654,0.652,0.647,...,13.107171,14.172082,14.189127,14.523162,13.791770,13.618078,13.914030,14.087293,14.091826,14.096719
202,ZZH.LAC,Latin America and the Caribbean,NaN,NaN,NaN,0.633,0.638,0.643,0.648,0.654,...,14.114108,14.493145,14.080904,14.146026,13.325144,13.604555,13.151315,13.296195,13.290914,13.284745
203,ZZI.SA,South Asia,NaN,NaN,NaN,0.442,0.447,0.453,0.457,0.462,...,4.699407,4.584935,4.486500,4.610546,4.624886,4.740263,5.000024,5.110230,5.106447,5.102134
204,ZZJ.SSA,Sub-Saharan Africa,NaN,NaN,NaN,0.407,0.410,0.410,0.411,0.413,...,3.437760,3.530479,3.491150,3.494860,3.415511,3.256156,3.145930,3.151076,3.146092,3.140740
205,ZZK.WORLD,World,NaN,NaN,NaN,0.601,0.604,0.607,0.610,0.614,...,12.186601,12.474065,12.520563,12.372667,12.277707,12.277878,12.220286,12.375236,12.325166,12.271920

corelation